@import '../../../styles/vars.scss';
.componentVideoModule{
  :global {
    .upload-bl {
      position: relative;
      text-align: center;
      padding: 4rem 2rem;
      border: 1.5px dashed #616161 !important;
      border-radius: 7px;
      background-color: #141414;
      transition: all 0.2s ease-in-out;

      &:hover{
        border: 1.5px dashed $lime-green !important;
      }
      
      border: 0.5px solid #FFFFFF20;
      .remove-btn {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

   

    .upload-bl-track-form {
      position: relative;
      text-align: center;
      padding: 4rem 2rem;
      border: none !important;
      border-radius: 7px;
      background-color: #14141400;
      transition: all 0.2s ease-in-out;
      margin: 0px 6px;
      margin-top: 2rem;
      margin-bottom: -2rem;

      .remove-btn {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .searched-video-container{
    // @apply md:ml-3;
  
    .searched-video-wrapper{
      @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 overflow-auto;
  
      @media screen and (max-width: $mobile-screen) {
        gap: 1.5rem;
      }
  
    }
  }  

  .searched-video-container-music{
    // @apply md:ml-3;
  
    .searched-video-wrapper-music{
      @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-2 overflow-auto;
  
      
    }
  }  

  .new-track-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #00000000;
    padding: 0.3rem;
    padding-bottom: 1.5rem;
    border-radius: 0.75rem;

    @media screen and (max-width: $mobile-screen) {
      padding: 0px;
      border-radius: 0px;
    }

    cursor: pointer;

    &:hover{
      opacity: 1;
    }
    
    .new-track-thumb{
      
      @apply relative flex items-start justify-start w-full pt-[56.25%] overflow-hidden transition-transform duration-200 ease-in-out;
      border-radius: 0.75rem;
      transition: all 0.1s ease-in;

      @media screen and (max-width: $mobile-screen) {
        
        border-radius: 0px;
      }

      &:hover {
        opacity: 0.9;
      }
      

      .new-track-bg{
        background-color: $light-grey;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.2s ease-in;

        @apply absolute top-0 left-0 w-full h-full md:rounded-xl;

        .track-bg {
          @apply bg-trax-black transition-none;
        }

        .track-duration {
          background-color: rgba(0, 0, 0, 0.6);
          font-size: 11px;
          padding: 0px 5px; 

          @apply absolute bottom-0 right-0  m-3 text-trax-white rounded-md;
        }
        .track-limited{
          background-color: #7E2CDD;
          font-size: 16px;
          padding: 5px 10px; 
          border: 1px solid #7E2CDD50;
          color: #FFF;
          font-family: HeadingPro;
          font-weight: 800;
          text-transform: uppercase;


          @apply absolute top-0 left-0  m-3 rounded-sm;
        }
      }
    }

    .track-info-wrapper{
      display: flex;
      margin-top: 12px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      @media screen and (max-width: $mobile-screen) {
        margin-top: 1rem;
      }

      .track-avatar {
        @apply text-trax-white md:pr-2 md:pl-0 px-2;
      }

      .track-artist{
        flex: 1 1 0%;
        color: #B3B3B3;
        font-size: 15px;
        margin-top: 0rem;
        font-weight: 300;

        &:hover{
          color: #A8FF00;
        }

        @media screen and (max-width: $mobile-screen) {
          font-size: 15px;
        }
      }

      .track-title{
        flex: 1 1 0%;
        color: white;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
        font-family: HeadingPro;

        

        @media screen and (max-width: $mobile-screen) {
          font-size: 20px;
        }
      }
    }
  }
}
