@import '../../../styles/vars.scss';
.componentVideoModule{
  
  :global {
    .upload-bl {
      position: relative;
      text-align: center;
      padding: 4rem 2rem;
      border: 1.5px dashed #616161 !important;
      border-radius: 7px;
      background-color: #141414;
      transition: all 0.2s ease-in-out;

      &:hover{
        border: 1.5px dashed $lime-green !important;
      }
      
      border: 0.5px solid #FFFFFF20;
      .remove-btn {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

   

    .upload-bl-track-form {
      position: relative;
      text-align: center;
      padding: 4rem 2rem;
      border: none !important;
      border-radius: 7px;
      background-color: #14141400;
      transition: all 0.2s ease-in-out;
      margin: 0px 6px;
      margin-top: 2rem;
      margin-bottom: -2rem;

      .remove-btn {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .searched-video-container{
    .searched-video-wrapper{
      @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 sm:gap-3.5 overflow-auto px-[10px] sm:px-0;
    }
    .searched-video-wrapper-audio{
      @apply grid grid-cols-1 xl:grid-cols-2 gap-6 sm:gap-3.5 overflow-auto px-[10px] sm:px-0;
    }
  }  

  
  .searched-video-container-music{
    .searched-video-wrapper-music{
      @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 sm:gap-2 overflow-auto;
    }
  }  

  .new-track-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #00000000;
    // padding: 0.3rem;
    padding-bottom: 1.5rem;
    border-radius: 7px;

    @media screen and (max-width: $mobile-screen) {
      padding: 0px;
      border-radius: 0px;
    }

    cursor: pointer;

    &:hover{
      opacity: 1;
    }
    
    .new-track-thumb{

      @apply relative flex items-start justify-start w-full pt-[56.25%] overflow-hidden transition-transform duration-200 ease-in-out;
      border-radius: 7px;
      transition: all 0.1s ease-in;

      // @media screen and (max-width: $mobile-screen) {
        
      //   border-radius: 0px;
      // }

      &:hover {
        opacity: 0.9;
      }
      

      .new-track-bg{
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.2s ease-in;
        border-radius: 7px;

        @apply absolute top-0 left-0 w-full h-full;

        .track-bg {
          @apply bg-trax-black transition-none;
        }

        .track-duration {
          background: #1F1F1FB2;
          backdrop-filter: blur(7px);
          font-size: 13px;
          padding: 5px 11px;
          border-radius: 7px;
          font-weight: 300;
          @apply absolute bottom-0 right-0  m-2 text-trax-white;
        }
        .track-type{
          font-size: 16px;
          width: fit-content;
          bottom: 0;
          border-radius: 7px;
          font-family: HeadingPro;
          position: absolute;
          font-weight: 600;
          text-transform: uppercase;
          padding: 5px 11px;
          color: #FFF;
          background: #1F1F1FB2;
          backdrop-filter: blur(7px);
          display: flex;
          flex-direction: row;
          gap: 6px;
          margin: 0.5rem
        }
        .track-limited{
          background: #1F1F1FB2;
          backdrop-filter: blur(7px);
          font-size: 16px;
          padding: 5px 11px;
          color: #FFF;
          font-family: HeadingPro;
          font-weight: 600;
          text-transform: uppercase;
          width: fit-content;
          border-radius: 7px;
          position: absolute;
          top: 0;
          left: 0;
          margin: 0.5rem
          
        }
      }
    }

    .track-info-wrapper{
      display: flex;
      margin-top: 7px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      @media screen and (max-width: $mobile-screen) {
        margin-top: 1rem;
      }

      .track-avatar {
        @apply text-trax-white pr-2 pl-0;
      }

      .track-info{
        display: flex;
        flex-direction: row;
      }

      .track-artist{
        flex: 1 1 0%;
        color: #b7b7b7;
        font-size: 15px;
        margin-top: 0.6rem;
        font-weight: 300;

        &:hover{
          text-decoration: underline ;
        }

        

        @media screen and (max-width: $mobile-screen) {
          font-size: 15px;
        }
      }

      .track-title{
        // flex: 1 1 0%;
        color: white;
        margin-bottom: 0.5rem;
        // font-size: 36px;
        font-size: 1.8rem;
        line-height: 1.8rem;
        // line-height: 33px;
        font-weight: 600;
        font-family: HeadingPro;
        width: 90%;
        text-transform: uppercase;

        

        @media screen and (max-width: $mobile-screen) {
          font-size: 36px;
          line-height: 33px;
        }
      }

      .track-title-related{
        flex: 1 1 0%;
        color: white;
        margin-bottom: 0.2rem;
        font-size: 25px;
        line-height: 22px;
        font-weight: 600;
        font-family: HeadingPro;
        text-transform: uppercase;
      }
    }
  }
}
