.auth-modal{
  margin-top: -6.3rem;

  .ant-modal-content{
    @apply w-full h-full border-none bg-trax-transparent shadow-none -mt-24 md:mt-0;

    .ant-modal-body{
      @apply bg-trax-transparent;
    }
  }

}

.log-in-container{
  display: flex;
  background: black;
  min-height: 100vh;

  @media screen and (max-width: $mobile-screen) {
    margin-top: -7rem;
    max-width: 100vw;
  }

  &.log-in-section {
    @apply lg:flex-row flex-col -mb-7 overflow-hidden flex-grow;
  }

  .sign-up-section {
    @apply flex flex-col;

    .ant-checkbox-wrapper {
      @apply text-sm text-trax-gray-500;

      .ant-checkbox{
        @apply pr-2;
      }

      .ant-checkbox .ant-checkbox-inner {
        @apply w-5 h-5 bg-trax-transparent border-trax-lime-400;
      }

      .ant-checkbox-checked .ant-checkbox-inner {
        @apply w-5 h-5 bg-trax-transparent border-trax-lime-400;
      }

    }
  }

  .log-in-wrapper{
    background: conic-gradient(from 0deg at 50% 50%, #000 0deg, #141414 180deg, #141414 180deg, #000 360deg);

    @apply flex flex-col flex-grow lg:p-10 max-h-full min-h-full max-w-full p-0;

    .log-in-logo{
      @apply h-8 m-5 lg:h-12 lg:my-0 flex justify-items-start;

      img{
        @apply h-8 w-20 lg:h-12 lg:w-28 flex-grow-0;
      }
    }

    .auth-content{
      @apply pt-8 px-6 lg:pt-14 w-full lg:w-[47rem] flex flex-col place-self-center;

      .log-in-header{
        font-family: "Inter";

        @apply mt-10 mb-6 text-center w-full;

        .main-title{
          background: linear-gradient(90deg, #FFF 0%, #ECFF9C 104.87%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @apply bg-trax-white text-4xl lg:text-5xl font-extrabold text-trax-white tracking-[-1.5px] lg:tracking-[-2.5px] mb-2.5;
        }

        .main-subtitle{
          @apply text-trax-slate-200 text-base font-medium tracking-[-0.32px];
        }

        .log-in-header-fill{
          //for sign-up
          color: #BBE900 !important;
        }
      }

      .log-in-form {
        @apply flex flex-col mx-auto mt-6 mb-4 w-full;
      }

      .divider{
        text-align: center;
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.16px;
        padding: 1rem;

        @apply text-sm text-trax-gray-500;
      }

      .log-in-btn-wrapper{
        margin: auto;
        width: 100%;

        .log-in-btn{
          padding-top: 0.375rem;
          padding-bottom: 0.375rem;
          padding-left: 0.875rem;
          padding-right: 0.875rem;
          border-radius: 15rem !important;
          font-weight: 600;
          color: black;
          background-color: white;
          display: inline-block;

          @apply h-12 text-base text-trax-gray-500 border-none;

          &.sign-up {
            @apply bg-trax-lime-400;
          }

          &.selected {
            @apply text-trax-black bg-trax-white border-none;
          }

          &.nonselected {
            background-color: #121212;
            @apply text-trax-gray-500 border-none;
          }

          &:hover{
            opacity: 0.7;
            color: black !important;
            background-color: white;
            transition: ease-in-out 0.2s;
            border: black !important;
          }

          &:disabled{
            color: #898989 !important;
            background-color: #222222;
            transition: ease-in-out 0.2s;
          }
        }
      }

      .email-wrapper{

        .ant-form-item-control-input-content{
          &:focus{
            @apply border;
          }

          .ant-input{
            @apply pl-4 pt-4 p-0 h-12;
          }
        }

        .ant-form-item-explain-error{
          @apply text-left pl-2 pb-2;
        }

        .ant-form-item .ant-input-password{
          padding: 0 0 !important;
          border-radius: 10px !important;
        }

        .ant-input-suffix{
          margin-right: 1rem;
        }

        .anticon{
          display: inline;
        }

        .anticon-eye-invisible{
          opacity: 0.5;
        }

        .ant-input-password-icon{
          color: #FFF;

          &:hover{
            color: #FFF;
            opacity: 0.8;
          }

        }

        .field-subheading{
          // for sing-up and email-sing-up
          font-size: 0.875rem;
          color: #FFFFFF75;
          line-height: 1.25rem;
          font-weight: 400;
        }

        .floating-label{
          @apply text-sm absolute text-trax-gray-500 duration-300 transform top-4 z-10 origin-[0] start-4;

          &.label-transition-initial {
            @apply scale-100 translate-y-0;
          }

          &.label-transition-active {
            @apply -translate-y-4 scale-90 my-1 lg:my-1.5;
          }
        }

        input{
          background: #101010 !important;
          color: white;
          padding: 1rem;
          border-radius: 10px !important;
          // border: 1px solid #4c4c4c;
          // border: 1px solid #E0E2D9;
          font-family: Inter;
          font-weight: 500;
          letter-spacing: -0.14px;
          // border: 0.1rem solid rgba(255, 255, 255, 0.062745098) !important;

          @apply shadow-none text-sm;



          &::placeholder {
            /* Firefox */
            opacity: 0.5;
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            opacity: 0.5;
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            opacity: 0.5;
          }

        }

        .forgot-links {
          display: inline;
          display: flex;
          gap: 1rem;
          padding-left: 1rem;
          padding-top: 0.5rem;

          .forgot-password {
            float: left;
            text-decoration-line: underline;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            font-family: Inter;
            font-weight: 400;
            letter-spacing: -0.14px;
            @apply text-trax-gray-500 text-sm;

            @media screen and (max-width: $mobile-screen) {
              color: #ECFF9C;
              opacity: 1;
              letter-spacing: -0.28px;
            }
          }

          .forgot-password-dot {
            text-align: end;
          }
        }
      }
    }

    .auth-section{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: space-evenly;

      .no-auth-button {
        display: none;
      }


      &.NFIDAuth {
        @apply h-12;
      }

      .nfid-button-wrapper{
        background: transparent;
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border: 1px solid rgba( 255, 255, 255, 0.05 );
        border-radius: 15rem;
        color: white;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        border: 1px solid #121212;
        height: 3.3rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: ease-in-out 0.2s;
        font-family: Inter;
        font-size: 0.93rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.15px;
        margin-bottom: 0.5rem;

        @apply text-base;

        &:hover{
          background-color: #0a0a0a;
          transform: scale(1.01);
          transition: ease-in-out 0.2s;
          border: 1px solid #FFFFFF10;

        }

        span{
          @apply flex items-center text-trax-gray-500;
        }

        .icp-icon-sign{
          @apply w-8 h-8 mr-4;

          @media screen and (max-width: $mobile-screen) {
            @apply w-6 h-6;
          }
        }

        .plug-icon-sign{
          @apply w-8 h-8 mr-4;

          @media screen and (max-width: $mobile-screen) {
            @apply w-6 h-6;
          }
        }
      }
    }
  }

  .sign-in-link{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;

    .new-to{
      word-wrap: break-word;
      @apply text-trax-gray-500 text-sm;
    }

    .get-started{
      cursor: pointer;
      transition: ease-in-out 0.2s;
      text-decoration-line: underline;
      @apply text-trax-lime-400 text-sm;

      &:hover{
        transform: scale(1.03);
        transition: ease-in-out 0.2s;
      }
    }
  }

  .authentication-image-container {
    @apply relative w-1/3;

    .authentication-image {
      @apply absolute inset-0 w-full h-full object-cover;
    }
  }
}

.ant-modal-close-x {
  .anticon-close {
    @apply text-trax-gray-600;

    @media screen and (max-width: $mobile-screen) {
      margin-top: -6.5rem;
    }
  }
}

.ant-modal, .log-in-modal {

  .ant-modal-content {
    @media screen and (max-width: $mobile-screen) {
      margin-top: 0rem !important;
      max-width: 100vw;
    }
  }
}
